.poll-post, .poll-post * {
    transition:background-color var(--Poll-Option-HOVER-Speed) ease-in-out, color var(--Poll-Option-HOVER-Speed) ease-in-out, border-color var(--Poll-Option-HOVER-Speed) ease-in-out;
}

.poll-post .poll-question {
    font-size:var(--Poll-Question-Font-Size)!important;
    line-height:inherit!important;
    margin-bottom:1em!important;
}

.poll-post .poll-question + a.poll-row {
    margin-top:1em!important;
}

.poll-post a.poll-row {
    margin:var(--Poll-Option-Spacing) 0!important;
    background-color:var(--Poll-Option-Background-Color)!important;
    border-radius:var(--Poll-Option-Corner-Rounding)!important;
    border:var(--Poll-Option-Border-Size) solid var(--Poll-Option-Border-Color)!important;
    padding:var(--Poll-Option-Padding)!important;
    font-size:var(--Poll-Option-Font-Size)!important;
    box-shadow:none!important;
    color:var(--Poll-Option-Text-Color)!important;
    min-height:0!important;
    font-weight:normal!important;
    text-align:center;
}

.poll-post a.poll-row p {
    margin:0!important;
    color:inherit!important;
    transition:color 0s;
}

.poll-post a.poll-row:hover {
    border-color:var(--Poll-Option-HOVER-Border-Color)!important;
    background-color:var(--Poll-Option-HOVER-Background-Color)!important;
    color:var(--Poll-Option-HOVER-Text-Color)!important;
}

.poll-post .poll-see-results {
    margin-top:1em;
    font-weight:bold;
}

.poll-post + p:not(:empty){
    margin-top:1em;
}

.poll-date-start, .poll-date-end {
    text-align:center;
}
